.generator-right {
    @include flex-wrap();

    &__title {
        flex-basis: 100%;
        text-align: center;
    }

    &__password {
        flex-basis: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}