.generator-left {
    @include flex-wrap();

    &__title {
        flex-basis: 100%;
        text-align: center;
    }

    &__label {
        flex-basis: 100%;
        padding: 5px 0;
        text-align: center;

        @include mq(mobileXMedium) {
            padding: 10px 0;
            flex-basis: 40%;
            text-align: left;
            padding-right: 10px;
        }

        @include mq(mobileLarge) {
            flex-basis: 35%;
            text-align: right;
        }
    }

    &__input {
        flex-basis: 100%;
        margin: 5px 0;

        @include mq(mobileXMedium) {
            flex-basis: 60%;
            margin: 10px 0;
        }
    }

    &__generate-password {
        margin: 5px auto;
        padding: 5px;
        border: 1px solid black;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: white;
        }

        @include mq(mobileXMedium) {
            font-size: 20px;
        }
    }
}