body {
    @include flex-wrap();
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.website-title {
    flex-basis: 100%;
    margin: 40px 0 20px;
    padding: 0 5px;
    text-align: center;
}